{% extends 'base.html' %}

{% block title %}Start/Stop Button{% endblock %}

{% block content %}
    <button id="startStopButton" onclick="toggleButton()">{{ button_text }}</button>
{% endblock %}

{% block scripts %}
    <script>
        function toggleButton() {
            var button = document.getElementById('startStopButton');
            if (button.innerText === 'START') {
                button.innerText = 'STOP';
            } else {
                button.innerText = 'START';
            }
        }
    </script>
{% endblock %}
