<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>

  <link rel = "stylesheet" type = "text/css" href="{{ url_for('static', filename = 'styles.css') }}">

</head>

<!-- <style> </style> tags eliminated and CSS content shifted to static/styles.css-->

<body>
  <form action="/scan" method="POST">
    <button type="submit" id="scanButton" onclick="toggleButton()">Start Scanning</button>
  </form>

  <br><br>

      <!-- Changed option values from 'indicent' to 'incident' along with the associated text shown to the user-->

        <label for="hr-select">Previous Incidents</label> 
        <br>
        <select name="incidents" multiple size="5">
            <option value="incident one">incident one | 11/4/2024</option>
            <option value="incident two">incident two | 12/4/2024</option>
            <option value="incident three">incident three | 13/4/2024</option>
            <option value="incident four">incident four | 14/4/2024</option>
            <option value="incident five">incident five | 15/4/2024</option>
            <option value="incident six">incident six | 16/4/2024</option>
        </select>

  <br><br>

  <button id="downloadButton">Download Report</button>

  <script>
    function toggleButton() {
      var button = document.getElementById('scanButton');
      if (button.innerText === 'Start Scanning') {
        button.innerText = 'Stop Scanning';
      } else {
        button.innerText = 'Start Scanning';
      }
    }
  </script>
</body>
</html>
