<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>index</title>

  <link rel = "stylesheet" type = "text/css" href="{{ url_for('static', filename = 'styles.css') }}">

</head>

<!-- <style> </style> tags eliminated and CSS content shifted to static/styles.css-->

<body>

  <form action="/result" method="POST">
    <button type="submit" id="scanButton">Start Scanning</button>
  </form>

  <br><br>

  <script>
    function toggleButton() {
      var button = document.getElementById('scanButton');
      if (button.innerText === 'Start Scanning') {
        button.innerText = 'Stop Scanning';
      } else {
        button.innerText = 'Start Scanning';
      }
    }
  </script>
</body>
</html>
